<%- include('_layouts/layout', { title: 'Home page' }); -%>

    <!-- @meta -->
    <meta name="description" content="Home page">
    <!-- @@meta -->

    <!-- @content -->
    <main class="p-top">
        <div class="c-banner">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/bannersp.jpg">
                <img src="./assets/img/banner.png" alt="banner" class="c-banner__image">
            </picture>
            <div class="c-banner__content">
                <img src="./assets/img/logo.png" alt="「こんな家に住みたい」をカタチにした家" class="c-banner__logo">
                <p class="c-banner__title">「こんな家に住みたい」をカタチにした家</p>
                <img src="./assets/img/nowopen.png" alt="「こんな家に住みたい」をカタチにした家" class="c-banner__nowopen">
            </div>
        </div>
        <div class="u-bgline">
            <section class="c-case">
                <h2 class="c-case__title">家づくりの、こんな不安やお悩みないですか？</h2>
                <div class="c-case__boxs">
                    <a href="#" class="c-case__item">
                        <img src="./assets/img/case1.png" alt="子育てにはどんな家が良いんだろう？" class="c-case__num">
                        <div class="c-case__label">子育てにはどんな家が良いんだろう？</div>
                    </a>
                    <a href="#" class="c-case__item">
                        <img src="./assets/img/case2.png" alt="理想の家って実現できるの？" class="c-case__num">
                        <div class="c-case__label">
                            理想の家って実現できるの？
                            <div class="c-case__labelsub">いろいろとこだわった</div>
                        </div>
                    </a>
                    <a href="#" class="c-case__item">
                        <img src="./assets/img/case3.png" alt="暮らしのスタイルがイメージできない" class="c-case__num">
                        <div class="c-case__label">暮らしのスタイルがイメージできない
                            <div class="c-case__labelsub">家は建てたいけど</div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="c-welcome">
                <div class="l-container">
                    <div class="c-welcome__head">
                        <p class="c-welcome__title">
                            はじめての家づくりが具体的に進む、ご来店の
                            <a href="#merit" class="u-serifhightlight">3つのメリット</a>
                        </p>
                        <h1 class="c-welcome__heading">WELCOME TO MODELHOUSE</h1>
                    </div>
                    <div id="merit" class="c-listwelcome">
                        <div class="c-listwelcome__item">
                            <div class="c-listwelcome__content">
                                <div class="c-listwelcome__col1">
                                    <img src="./assets/img/merit01.png" alt="実物を見て触って体感できます!"
                                        class="c-listwelcome__meritnum">
                                </div>
                                <div class="c-listwelcome__col2">
                                    <p class="c-listwelcome__title">
                                        実物を見て触って
                                        <a href="#" class="u-primaryhightlight">体感</a>
                                        できます!
                                        <img src="./assets/img/meriticon.png" alt="実物を見て触って体感できます!"
                                            class="c-listwelcome__meriticon">
                                    </p>
                                    <p class="c-listwelcome__desc">
                                        カタログや資料だけではなく、高気密・高断熱の木
                                        の住まいや、家事動線や収納スペースの女性目線で
                                        叶った工夫など、実際に見て触ってご体感いただけ
                                        ます。
                                    </p>
                                </div>
                            </div>
                            <div class="c-listwelcome__image">
                                <img src="./assets/img/welcome01.png" alt="実物を見て触って体感できます!" class="c-listwelcome__img">
                            </div>
                        </div>
                        <div class="c-listwelcome__item">
                            <div class="c-listwelcome__content">
                                <div class="c-listwelcome__col1">
                                    <img src="./assets/img/merit02.png" alt="土地情報1000件以上が見放題!"
                                        class="c-listwelcome__meritnum">
                                </div>
                                <div class="c-listwelcome__col2">
                                    <p class="c-listwelcome__title">
                                        土地情報
                                        <a href="#" class="u-primaryhightlight">1000件以上</a>
                                        が見放題!
                                        <img src="./assets/img/meriticon.png" alt="土地情報1000件以上が見放題!"
                                            class="c-listwelcome__meriticon">
                                    </p>
                                    <p class="c-listwelcome__desc">
                                        愛媛県の最新の土地情報から、学区・最寄りの駅な
                                        どご希望の条件でお好きな土地をご覧いただけます。
                                        さらに、地盤予測や付帯工事費なども含め、建てた
                                        後も安心して暮らせる総合的な土地のアドバイスを
                                        いたします。
                                    </p>
                                </div>
                            </div>
                            <div class="c-listwelcome__image">
                                <img src="./assets/img/welcome02.png" alt="実物を見て触って体感できます!" class="c-listwelcome__img">
                            </div>
                        </div>
                        <div class="c-listwelcome__item">
                            <div class="c-listwelcome__content">
                                <div class="c-listwelcome__col1">
                                    <img src="./assets/img/merit03.png" alt="お客様に合った住宅ローンを診断!"
                                        class="c-listwelcome__meritnum">
                                </div>
                                <div class="c-listwelcome__col2">
                                    <p class="c-listwelcome__title">
                                        お客様に合った
                                        <a href="#" class="u-primaryhightlight">住宅ローン</a>
                                        を診断!
                                        <img src="./assets/img/meriticon.png" alt="お客様に合った住宅ローンを診断!"
                                            class="c-listwelcome__meriticon">
                                    </p>
                                    <p class="c-listwelcome__desc">
                                        住宅ローンアドバイザーの資格を持ったスタッフが、住宅ローン提携5大金融機関からお客様に合った適<br>正住宅ローンを診断いたします。
                                    </p>
                                </div>
                            </div>
                            <div class="c-listwelcome__image">
                                <img src="./assets/img/welcome03.png" alt="お客様に合った住宅ローンを診断!" class="c-listwelcome__img">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="c-point">
            <div class="c-point__head">
                <div class="c-point__headcol1">
                    <img src="./assets/img/pointhead.png" alt="イベント・見学会の見どころ！" class="c-point__img">
                </div>
                <div class="c-point__headcol2">
                    <h2 class="c-point__title">RECOMMENDED POINT</h2>
                    <p class="c-point__desc">イベント・見学会の<a href="#" class="u-serifhightlight">見どころ！</a></p>
                </div>
            </div>
            <div class="c-plist">
                <% linklists.main[0].pointlist.forEach(item=> { %>
                    <div class="c-plist__item">
                        <a href="#">
                            <div class="c-plist__image">
                                <img src="<%= item.image %>" alt="<%= item.title %>" class="c-plist__img">
                            </div>
                            <p class="c-plist__title">
                                <%= item.title %>
                            </p>
                            <p class="c-plist__desc"><%- item.desc %></p>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </section>
        <div class="c-book">
            <a href="#" class="c-book__image">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/booksp.png">
                    <img src="./assets/img/book.png" alt="2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方"
                        class="c-book__img">
                </picture>
            </a>
        </div>
        <section class="c-design">
            <div class="c-slider">
                <div class="c-slider__image">
                    <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
                </div>
                <div class="c-slider__image">
                    <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
                </div>
                <div class="c-slider__image">
                    <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
                </div>
            </div>
            <div class="c-design__youtube">
                <div class="c-design__content">
                    <h3 class="c-title">DESIGN</h3>
                    <div class="c-line"></div>
                    <p class="c-design__caption">シンプルで美しいデザイン、<br>
                        いつまでも・誰にでも愛される空間に。
                    </p>
                    <p class="c-design__desc">
                        長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。
                        壁の色を白で統一したシンプルな間取り。<br>
                        余計な装飾は施さず、こだわりの家具やインテリアを <br>
                        あなた色に合わせてコーディネートを楽しめる <br>
                        年齢や性別を意識しない誰にでも愛される空間です。
                    </p>
                </div>
                <div class="c-design__video">
                    <iframe class="c-design__iframe" src="https://www.youtube.com/embed/GtH-3_jjTvQ"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="c-plan">
            <h3 class="c-title">PLAN</h3>
            <div class="c-line"></div>
            <div class="c-plan__images">
                <div class="c-plan__image01">
                    <img src="./assets/img/plan1.jpg" alt="plan">
                    <div class="c-plan__num">1F</div>
                </div>
                <div class="c-plan__image02">
                    <img src="./assets/img/plan1.jpg" alt="plan">
                    <div class="c-plan__num">2F</div>
                </div>
            </div>
            <div class="l-container">
                <div class="c-plan__desc">
                    <span class="c-plan__desc01">1階床面積</span>
                    <span class="c-plan__desc02">192.53㎡(58.24坪）</span>
                    <span class="c-plan__desc03">2階床面積</span>
                    <span class="c-plan__desc04">139.01㎡(42.05坪）</span>
                    <span class="c-plan__desc05">延床面積</span>
                    <span class="c-plan__desc06">331.54㎡(100.29坪）</span>
                </div>
                <div class="c-plan__table">
                    <div class="c-plan__row">
                        <div class="c-plan__col1">商品プラン</div>
                        <div class="c-plan__col2">ZERO-CUBE</div>
                    </div>
                    <div class="c-plan__row">
                        <div class="c-plan__col1">構造</div>
                        <div class="c-plan__col2">木造2階建て</div>
                    </div>
                    <div class="c-plan__row">
                        <div class="c-plan__col1">設備・仕様</div>
                        <div class="c-plan__col2">
                            <a href="#" class="c-plan__tag">W断熱/TOPS工法</a>
                            <a href="#" class="c-plan__tag">無垢材・自然素材</a>
                            <a href="#" class="c-plan__tag">高性能住宅</a>
                            <a href="#" class="c-plan__tag">玄関共有タイプ</a>
                            <a href="#" class="c-plan__tag">防音構造床 </a>
                        </div>
                    </div>
                    <div class="c-plan__row">
                        <div class="c-plan__col1">空間</div>
                        <div class="c-plan__col2">
                            <a href="#" class="c-plan__tag">二世帯・多世帯</a>
                            <a href="#" class="c-plan__tag">1、2階リビング</a>
                            <a href="#" class="c-plan__tag">吹抜け</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-finance">
            <div class="l-container">
                <h3 class="c-title">FINANCE</h3>
                <div class="c-line"></div>
                <div class="c-finance__caption">3,400万円借入の場合</div>
                <div class="c-finance__blocks">
                    <div class="c-finance__price">
                        <p class="c-finance__row">借入金　・・・・・・・・・・3,400万円</p>
                        <p class="c-finance__row">ボーナス払い・・・・・・・・・・0万円</p>
                        <p class="c-finance__row">3年固定金利・・・・・・・・・・0.725％</p>
                        <p class="c-finance__row">返済期間・・・・・・・・・・・・・35年</p>
                    </div>
                    <div class="c-finance__saleoff">
                        <p class="c-finance__titlesaleoff">月々のお支払い</p>
                        <p class="c-finance__pricesaleoff">91,682 <span class="c-finance__unit">円</span></p>
                        <p class="c-finance__descsaleoff">土地付建物販売価格　3,400万円（税込）</p>
                        <div class="c-finance__label">
                            <p class="c-finance__labelname">頭金</p>
                            <p class="c-finance__labelnum">0 <span class="c-finance__labelunit">円</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-process">
            <h4 class="c-process__title">
                WEB来場予約が <a href="#" class="u-serifhightlight">オススメ！</a>
            </h4>
            <div class="c-process__desc">
                <p>待ち時間ナシ！混雑をきにせず来場 OK！</p>
                <p>経験豊富なスタッフがしっかりとご対応いたします。</p>
            </div>
            <div class="c-process__list">

                <% linklists.main[0].processlist.forEach((item, index)=> { %>
                    <div class="c-process__item">
                        <a href="#" class="c-process__link"></a>
                        <img src="<%= item.icon %>" alt="<%= item.title %>" class="c-process__icon">
                        <p class="c-process__itemtile">
                            <%= item.title %>
                        </p>
                        <div class="c-line"></div>
                        <p class="c-process__itemdesc">
                            <%= item.desc %>
                        </p>
                    </div>
                    <% if(index !==linklists.main[0].processlist.length - 1) { %>
                        <img src="./assets/img/iarrowright.png" alt="<%= item.title %>" class="c-process__iconright">
                        <% } %>

                            <% }) %>
            </div>
        </section>
        <section class="c-virus">
            <div class="c-virus__head">
                <div class="c-virus__top">
                    <a href="#" class="c-virus__btn">ご来場のお客様へ</a>
                    <h2 class="c-virus__title">新型コロナウイルス感染症予防対策につきまして</h2>
                </div>
                <p class="c-virus__desc">ウェブココでは新型コロナウイルス感染拡大防止のため、対策を講じておりますので安心してご利用ください。</p>
            </div>
            <div class="c-virus__body">
                <div class="c-virus__row">
                    <% linklists.main[0].viruslist.forEach((item, index)=> { %>
                        <% if(index < 5) {%>
                            <div class="c-virus__item c-virus__item<%= index + 1 %>">
                                <a href="#" class="c-virus__link"></a>
                                <img src="<%= item.icon %>" alt="常時店内・モデルハウス換気中" class="c-virus__icon">
                                <p class="c-virus__itemtitle"><%- item.title %></p>
                            </div>
                            <% } %>
                                <% }) %>
                </div>
                <div class="c-virus__row">
                    <% linklists.main[0].viruslist.forEach((item, index)=> { %>
                        <% if(index> 4) {%>
                            <div class="c-virus__item c-virus__item<%= index + 1 %>">
                                <a href="#" class="c-virus__link"></a>
                                <img src="<%= item.icon %>" alt="常時店内・モデルハウス換気中" class="c-virus__icon">
                                <p class="c-virus__itemtitle"><%- item.title %></p>
                            </div>
                            <% } %>
                                <% }) %>
                </div>
            </div>
        </section>
        <section class="c-virus c-virussp">
            <div class="c-virus__head">
                <div class="c-virus__top">
                    <a href="#" class="c-virus__btn">ご来場のお客様へ</a>
                    <h2 class="c-virus__title">新型コロナウイルス<br>感染症予防対策につきまして</h2>
                </div>
                <p class="c-virus__desc">ウェブココでは新型コロナウイルス感染拡大防止のため、対策を講じておりますので安心してご利用ください。</p>
            </div>
            <div class="c-virussp__body">
                <% linklists.main[0].viruslistsp.forEach((item, index)=> { %>
                    <div class="c-virus__item c-virus__item<%= index + 1 %>">
                        <a href="#" class="c-virus__link"></a>
                        <img src="<%= item.icon %>" alt="常時店内・モデルハウス換気中" class="c-virus__icon">
                        <p class="c-virus__itemtitle"><%- item.title %></p>
                    </div>
                    <% }) %>
            </div>
        </section>
        <section class="c-access">
            <a href="#" class="c-access__map">
                <img src="./assets/img/ggmap.png" alt="完全ご予約制見学会" class="c-access__img">
            </a>
            <div class="c-access__content">
                <div class="c-access__container">
                    <h3 class="c-title">ACCESS</h3>
                    <div class="c-line"></div>
                    <p class="c-access__caption">完全ご予約制見学会</p>
                    <div class="c-access__box">
                        <div class="c-access__row">
                            <div class="c-accsess__block">開催日</div>
                            <p class="c-access__desc">8 月 20 日（土 )・21 日（日）</p>
                        </div>
                        <div class="c-access__row">
                            <div class="c-accsess__block">時間</div>
                            <p class="c-access__desc">10：00～ 17：00 ※完全予約制</p>
                        </div>
                        <div class="c-access__row">
                            <div class="c-accsess__block">開催場所</div>
                            <p class="c-access__desc">〒000-0000 愛媛県今治市000-0</p>
                        </div>
                    </div>
                    <p class="c-access__note">※車でお越しの際は、ナビで上記住所を設定してください。</p>
                </div>
            </div>
        </section>
        <section class="c-end">
            <a href="#" class="c-book">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/booksp.png">
                    <img src="./assets/img/book.png" alt="2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方" class="c-book__img">
                </picture>
            </a>
            <a href="#" class="c-contact">
                <h2 class="c-title">CONTACT FORM</h2>
            </a>
        </section>
    </main>
    <!-- @@content -->