<%- include('_layouts/layout', { title: 'Home page' }); -%>

    <!-- @meta -->
    <meta name="description" content="Home page">
    <!-- @@meta -->

    <!-- @content -->
    <main class="p-top">
        <%- include('_partials/banner') -%>
        <div class="u-bgline">
            <%- include('_partials/case') -%>
            <%- include('_partials/welcome') -%>
        </div>
        <%- include('_partials/point') -%>
        <%- include('_partials/book') -%>
        <%- include('_partials/design') -%>
        <%- include('_partials/plan') -%>
        <%- include('_partials/finance') -%>
        <%- include('_partials/process') -%>
        <%- include('_partials/virus') -%>
        <%- include('_partials/virussp') -%>
        <%- include('_partials/access') -%>
        <section class="c-end">
            <a href="#" class="c-book">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/booksp.png">
                    <img src="./assets/img/book.png" alt="2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方" class="c-book__img">
                </picture>
            </a>
            <a href="#" class="c-contact">
                <h2 class="c-title">CONTACT FORM</h2>
            </a>
        </section>
    </main>
    <!-- @@content -->