<section class="c-access">
    <a href="#" class="c-access__map">
        <img src="./assets/img/ggmap.png" alt="完全ご予約制見学会" class="c-access__img">
    </a>
    <div class="c-access__content">
        <div class="c-access__container">
            <h3 class="c-title">ACCESS</h3>
            <div class="c-line"></div>
            <p class="c-access__caption">完全ご予約制見学会</p>
            <div class="c-access__box">
                <div class="c-access__row">
                    <div class="c-accsess__block">開催日</div>
                    <p class="c-access__desc">8 月 20 日（土 )・21 日（日）</p>
                </div>
                <div class="c-access__row">
                    <div class="c-accsess__block">時間</div>
                    <p class="c-access__desc">10：00～ 17：00 ※完全予約制</p>
                </div>
                <div class="c-access__row">
                    <div class="c-accsess__block">開催場所</div>
                    <p class="c-access__desc">〒000-0000 愛媛県今治市000-0</p>
                </div>
            </div>
            <p class="c-access__note">※車でお越しの際は、ナビで上記住所を設定してください。</p>
        </div>
    </div>
</section>