<div class="c-banner">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/bannersp.jpg">
            <img src="./assets/img/banner.png" alt="banner" class="c-banner__image">
        </picture>
    <div class="c-banner__content">
        <a href="#">
            <img src="./assets/img/logo.png" alt="「こんな家に住みたい」をカタチにした家" class="c-banner__logo">
        </a>        
        <p class="c-banner__title">「こんな家に住みたい」をカタチにした家</p>
        <img src="./assets/img/nowopen.png" alt="「こんな家に住みたい」をカタチにした家" class="c-banner__nowopen">
    </div>
</div>