<div class="c-book">
    <a href="#" class="c-book__image">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/booksp.png">
            <img src="./assets/img/book.png" alt="2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方"
                class="c-book__img">
        </picture>
    </a>
</div>