<section class="c-case">
    <h2 class="c-case__title">家づくりの、こんな不安やお悩みないですか？</h2>
    <div class="c-case__boxs">
        <a href="#" class="c-case__item">
            <img src="./assets/img/case1.png" alt="子育てにはどんな家が良いんだろう？" class="c-case__num">
            <div class="c-case__label">子育てにはどんな家が良いんだろう？</div>
        </a>
        <a href="#" class="c-case__item">
            <img src="./assets/img/case2.png" alt="理想の家って実現できるの？" class="c-case__num">
            <div class="c-case__label">
                理想の家って実現できるの？
                <div class="c-case__labelsub">いろいろとこだわった</div>
            </div>
        </a>
        <a href="#" class="c-case__item">
            <img src="./assets/img/case3.png" alt="暮らしのスタイルがイメージできない" class="c-case__num">
            <div class="c-case__label">暮らしのスタイルがイメージできない
                <div class="c-case__labelsub">家は建てたいけど</div>
            </div>
        </a>
    </div>
</section>