<section class="c-design">
    <div class="c-slider">
        <div class="c-slider__image">
            <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
        </div>
        <div class="c-slider__image">
            <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
        </div>
        <div class="c-slider__image">
            <img src="./assets/img/slider01.png" alt="slider" class="c-slider__img">
        </div>
    </div>
    <div class="c-design__youtube">
        <div class="c-design__content">
            <h3 class="c-title">DESIGN</h3>
            <div class="c-line"></div>
            <p class="c-design__caption">シンプルで美しいデザイン、<br>
                いつまでも・誰にでも愛される空間に。
            </p>
            <p class="c-design__desc">
                長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。
                壁の色を白で統一したシンプルな間取り。<br>
                余計な装飾は施さず、こだわりの家具やインテリアを <br>
                あなた色に合わせてコーディネートを楽しめる <br>
                年齢や性別を意識しない誰にでも愛される空間です。
            </p>
        </div>
        <div class="c-design__video">
            <iframe class="c-design__iframe" src="https://www.youtube.com/embed/GtH-3_jjTvQ"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</section>