<section class="c-finance">
    <div class="l-container">
        <h3 class="c-title">FINANCE</h3>
        <div class="c-line"></div>
        <div class="c-finance__caption">3,400万円借入の場合</div>
        <div class="c-finance__blocks">
            <div class="c-finance__price">
                <p class="c-finance__row">借入金　・・・・・・・・・・3,400万円</p>
                <p class="c-finance__row">ボーナス払い・・・・・・・・・・0万円</p>
                <p class="c-finance__row">3年固定金利・・・・・・・・・・0.725％</p>
                <p class="c-finance__row">返済期間・・・・・・・・・・・・・35年</p>
            </div>
            <div class="c-finance__saleoff">
                <p class="c-finance__titlesaleoff">月々のお支払い</p>
                <p class="c-finance__pricesaleoff">91,682 <span class="c-finance__unit">円</span></p>
                <p class="c-finance__descsaleoff">土地付建物販売価格　3,400万円（税込）</p>
                <div class="c-finance__label">
                    <p class="c-finance__labelname">頭金</p>
                    <p class="c-finance__labelnum">0 <span class="c-finance__labelunit">円</span></p>
                </div>
            </div>
        </div>
    </div>
</section>