<section class="c-plan">
    <h3 class="c-title">PLAN</h3>
    <div class="c-line"></div>
    <div class="c-plan__images">
        <div class="c-plan__image01">
            <img src="./assets/img/plan1.jpg" alt="plan">
            <div class="c-plan__num">1F</div>
        </div>
        <div class="c-plan__image02">
            <img src="./assets/img/plan1.jpg" alt="plan">
            <div class="c-plan__num">2F</div>
        </div>
    </div>
    <div class="l-container">
        <div class="c-plan__desc">
            <span class="c-plan__desc01">1階床面積</span>
            <span class="c-plan__desc02">192.53㎡(58.24坪）</span>
            <span class="c-plan__desc03">2階床面積</span>
            <span class="c-plan__desc04">139.01㎡(42.05坪）</span>
            <span class="c-plan__desc05">延床面積</span>
            <span class="c-plan__desc06">331.54㎡(100.29坪）</span>
        </div>
        <div class="c-plan__table">
            <div class="c-plan__row">
                <div class="c-plan__col1">商品プラン</div>
                <div class="c-plan__col2">ZERO-CUBE</div>
            </div>
            <div class="c-plan__row">
                <div class="c-plan__col1">構造</div>
                <div class="c-plan__col2">木造2階建て</div>
            </div>
            <div class="c-plan__row">
                <div class="c-plan__col1">設備・仕様</div>
                <div class="c-plan__col2">
                    <a href="#" class="c-plan__tag">W断熱/TOPS工法</a>
                    <a href="#" class="c-plan__tag">無垢材・自然素材</a>
                    <a href="#" class="c-plan__tag">高性能住宅</a>
                    <a href="#" class="c-plan__tag">玄関共有タイプ</a>
                    <a href="#" class="c-plan__tag">防音構造床 </a>
                </div>
            </div>
            <div class="c-plan__row">
                <div class="c-plan__col1">空間</div>
                <div class="c-plan__col2">
                    <a href="#" class="c-plan__tag">二世帯・多世帯</a>
                    <a href="#" class="c-plan__tag">1、2階リビング</a>
                    <a href="#" class="c-plan__tag">吹抜け</a>
                </div>
            </div>
        </div>
    </div>
</section>