<section class="c-welcome">
    <div class="l-container">
        <div class="c-welcome__head">
            <p class="c-welcome__title">
                はじめての家づくりが具体的に進む、ご来店の
                <a href="#merit" class="u-serifhightlight">3つのメリット</a>
            </p>
            <h1 class="c-welcome__heading">WELCOME TO MODELHOUSE</h1>
        </div>
        <div id="merit" class="c-listwelcome">
            <div class="c-listwelcome__item">
                <div class="c-listwelcome__content">
                    <div class="c-listwelcome__col1">
                        <img src="./assets/img/merit01.png" alt="実物を見て触って体感できます!"
                            class="c-listwelcome__meritnum">
                    </div>
                    <div class="c-listwelcome__col2">
                        <p class="c-listwelcome__title">
                            実物を見て触って
                            <a href="#" class="u-primaryhightlight">体感</a>
                            できます!
                            <img src="./assets/img/meriticon.png" alt="実物を見て触って体感できます!"
                                class="c-listwelcome__meriticon">
                        </p>
                        <p class="c-listwelcome__desc">
                            カタログや資料だけではなく、高気密・高断熱の木
                            の住まいや、家事動線や収納スペースの女性目線で
                            叶った工夫など、実際に見て触ってご体感いただけ
                            ます。
                        </p>
                    </div>
                </div>
                <div class="c-listwelcome__image">
                    <img src="./assets/img/welcome01.png" alt="実物を見て触って体感できます!" class="c-listwelcome__img">
                </div>
            </div>
            <div class="c-listwelcome__item">
                <div class="c-listwelcome__content">
                    <div class="c-listwelcome__col1">
                        <img src="./assets/img/merit02.png" alt="土地情報1000件以上が見放題!"
                            class="c-listwelcome__meritnum">
                    </div>
                    <div class="c-listwelcome__col2">
                        <p class="c-listwelcome__title">
                            土地情報
                            <a href="#" class="u-primaryhightlight">1000件以上</a>
                            が見放題!
                            <img src="./assets/img/meriticon.png" alt="土地情報1000件以上が見放題!"
                                class="c-listwelcome__meriticon">
                        </p>
                        <p class="c-listwelcome__desc">
                            愛媛県の最新の土地情報から、学区・最寄りの駅な
                            どご希望の条件でお好きな土地をご覧いただけます。
                            さらに、地盤予測や付帯工事費なども含め、建てた
                            後も安心して暮らせる総合的な土地のアドバイスを
                            いたします。
                        </p>
                    </div>
                </div>
                <div class="c-listwelcome__image">
                    <img src="./assets/img/welcome02.png" alt="実物を見て触って体感できます!" class="c-listwelcome__img">
                </div>
            </div>
            <div class="c-listwelcome__item">
                <div class="c-listwelcome__content">
                    <div class="c-listwelcome__col1">
                        <img src="./assets/img/merit03.png" alt="お客様に合った住宅ローンを診断!"
                            class="c-listwelcome__meritnum">
                    </div>
                    <div class="c-listwelcome__col2">
                        <p class="c-listwelcome__title">
                            お客様に合った
                            <a href="#" class="u-primaryhightlight">住宅ローン</a>
                            を診断!
                            <img src="./assets/img/meriticon.png" alt="お客様に合った住宅ローンを診断!"
                                class="c-listwelcome__meriticon">
                        </p>
                        <p class="c-listwelcome__desc">
                            住宅ローンアドバイザーの資格を持ったスタッフが、住宅ローン提携5大金融機関からお客様に合った適<br>正住宅ローンを診断いたします。
                        </p>
                    </div>
                </div>
                <div class="c-listwelcome__image">
                    <img src="./assets/img/welcome03.png" alt="お客様に合った住宅ローンを診断!" class="c-listwelcome__img">
                </div>
            </div>
        </div>
    </div>
</section>