.u-primaryhightlight {
    font-size: 3.6rem;
    font-weight: 700;
    color: #252a6d;
    margin-left: -10px;
    margin-right: -12px;
    @include sp {
        font-size: 1.7rem;
    }
}

.u-serifhightlight {
    font-family: $notoserif;
    font-size: 4.6rem;
    color: #252a6d;
    letter-spacing: 2px;
    @include sp {
        font-size: 1.8rem;
    }
}

.u-bgline {
    background-image: url("./assets/img/bgwelcome.png");
    background-size: contain;
}
