.c-title {
    font-size: 4.8rem;
    font-family: $OswaldLight;
    font-weight: 300;
    line-height: calc(57.6/16);
    letter-spacing: 4.7px;
    text-align: center;
    line-height: 2.5;
    @include sp {
        font-size: 2.4rem;
    }
}
